# Git files
.git
.gitignore

# Docker specific files
Dockerfile
.dockerignore

# Node.js
node_modules
npm-debug.log*
yarn-debug.log*
yarn-error.log*
*.log
*.lock

# Environment files (should be passed at runtime, not built into the image)
.env
.env.*

# Documentation / Auxiliary files (unless you need them in the image)
README.md
LICENSE

# IDE/Editor specific folders
.vscode/
